.nume {
    font-style: italic;
}
.menu {
    background-color:lightgray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 800px;
    text-align: center;
    font-family: "Trebuchet MS";
    border-radius: 50px;
}



a {
    color:rgb(67, 98, 238);
}

a:hover {
    color:rgb(0, 0, 161);
}

img {
    margin-top: 10px;
    margin-bottom: -10px;
}

.subtitlu {
    margin-top: -18px;
    font-style: italic;

}

.outside {
    list-style: disc inside;
    margin: 0;
    padding: 0;
}

.inside {
    list-style: circle inside;
    margin-top: 5px;
    padding: 0;
}

table, th, td{
    
    border: 2px solid rgb(27, 27, 27);
    width: auto;
    border-collapse: collapse;
    
}
table {
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 15px;
}
th, td {
    padding: 5px;
}